<div *ngIf="recebeListObject">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Estoque</th>
        <th scope="col">Preços</th>
        <th scope="col">Descrição</th>
        <th scope="col">EAN</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let codigo of recebeListObject">
        <td>{{codigo.codigoItem}}</td>
      </tr>
      <tr *ngFor="let estoque of recebeEstoqueObject">
        <td>{{estoque.estoqueLoja}}</td>
      </tr>
      <tr *ngFor="let preco of recebePrecoObject">
        <td>{{preco.preco.precoFidelidade55Mais}}</td>
        <td>{{preco.preco.precoPor}}</td>
        <td>{{preco.preco.precoVenda}}</td>
      </tr>
      <tr *ngFor="let detalhe of recebeDetalheObject">
        <td>{{detalhe.descricaoMarcaPai}}</td>
        <td>{{detalhe.ean}}</td>
      </tr>
    </tbody>
  </table>
</div>