<nav class="navbar navbar-light" style="background-color:	#003F84;">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Buscar produtos" aria-label="Search"
      (keyup.enter)="BuscaProdutos()" [(ngModel)]="nomePesquisa" name="nomePesquisa">
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="BuscaProdutos()"
      class="btn btn-primary">Pesquisar</button>
  </form>
</nav>

<app-descricaoproduto [recebeResponseDetalhe]="responseDetalhe"></app-descricaoproduto>