<div class="modal-header">
  <h4 class="modal-title">Informações</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngFor="let item of item.dadosImagens" id="div_img"><img src="{{item.url}}"></div>
<div class="modal-body">
  <p>(Código: {{item.codigo}})</p>
  <p>Disponivel: {{item.estoque}}</p>
  <p>R${{item.preco.precoVenda}}</p>
  <p>Descrição: {{item.descricaoMarcaPai}}</p>
  <p>EAN: {{item.ean}}</p>
  <div *ngIf="item.promocaoAssinatura == false">
    <p>Nenhuma promoção disponível</p>
  </div>
  <div *ngIf="item.promocaoAssinatura != false">
    <p>Promoções disponíveis</p>
  </div>
  <p>Nome: {{item.nomenclatura}}</p>
  <p>Nome detalhado: {{item.nomenclaturaDetalhada}}</p>
  <p>Principio ativo: {{item.principioAtivo}}</p>
  <p>Classe terapeutica: {{item.classeTerapeutica}}</p>
  <p>Situação do item: {{item.situacaoItem}}</p>
  <p>Advertências:</p>
  <div *ngFor="let item of item.advertencias">
    <p>{{item}}</p>
  </div>
  <p>Categorias:</p>
  <div *ngFor="let item of item.categorias">
    <a>- {{item.descricao}}</a>
  </div>
</div>